*{
  font-family: fantasy;


}
html{
  background-color: rgba(10,84,100,0.6);
  color: white;
}
h1{
  color: rgb(184,76,53);
  text-align: center;
  text-decoration: underline;
  z-index: 99;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
  font-style: Courier;
  font-size: 19px;
  margin: 2px;
}
ul{
  line-height: 40px;
}
strong,em{
  color:#58412677;
  font-size: 22px;
  padding: 14px;
}
a{
  text-decoration: none;
}
a:hover{
  color:rgb(202, 111, 30);
}
.dk{
  margin: auto;
  width: 70%;
  border: 1px solid gray;
  border-radius: 20px;
  border-color: rgb(245, 203, 167);
  background-color: rgba(244, 246, 246,0.5);
}
nav{
  text-align: center;
  padding: 14px;
  background-color: rgb(40, 180, 99);
  position: relative;
  top: -7px;
  white-space: nowrap;
  width:auto;

}
nav a{
  padding: inherit;
  background-color: rgba(185, 119, 14,0.5);
  color: white;
}
